#*******************************************************************************************#
#                                            UCF for ElbertV2 Development Board             #
#*******************************************************************************************#
CONFIG VCCAUX = "3.3" ;
 
 # Clock 12 MHz
NET "I_CLK"                  LOC = P129 | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
NET "I_RST"                  LOC = P76  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST | PULLUP;

NET "I_UART_RX"              LOC = P28 | IOSTANDARD = lvttl;

NET "O_LED_CONTROL"          LOC = P55 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "O_LED_SELOMO"           LOC = P54 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
